@keyframes changecolorhover {
    to {
        border-left: 4px solid #FD1100;
    }
}

.i_am_zawgyi:hover{
    animation-name: changecolorhover;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.i_am_zawgyi{
    border-left: 4px solid #DDDFE2;
    padding-left: .6em;
}

@font-face {
    font-family: 'YoeYar-One';
    src: url('chrome-extension://__MSG_@@extension_id__/YoeYar-One.ttf') format('truetype');
}
@font-face{
    font-family: 'PyiDaungSu';
    src:url('chrome-extension://__MSG_@@extension_id__/pyidaungsu-1-3.ttf') format('truetype');    
}
.i_am_uni{
    font-family: 'PyiDaungSu';
}
.i_am_uni_verified{
    font-family: 'YoeYar-One'
}
._c_o_nvert_{
    letter-spacing: normal !important;
}
*, body, div, section, p, span, strong, table, tr, td, h1, h2 ,h3, h4, h5, h6, i, a {
    letter-spacing: normal ;
}
/* CSS copied from https://github.com/CodeSeven/toastr */

#mua-conversion-warning-container {
    position: fixed;
    z-index: 999999;
    pointer-events: none;
}

.mua-toast-top-right {
    bottom: 120px;
    right: 12px;
}

#mua-conversion-warning-container > .mua-toast-warning {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=)!important
}

.mua-toast-warning {
    background-color: #f89406;
}

.mua-toast-message {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    font-family: sans-serif !important;
}

#mua-conversion-warning-container > div {
    position: relative;
    pointer-events: auto;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 200px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    -moz-box-shadow: 0 0 12px #999;
    -webkit-box-shadow: 0 0 12px #999;
    box-shadow: 0 0 12px #999;
    color: #fff;
    opacity: .9;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    filter: alpha(opacity=90);
}